<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">
  
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    
  
    <link href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600, 700,900|Oswald:400,700" rel="stylesheet">
  
  
    <link rel="stylesheet" href="static/fonts/icomoon/style.css">
  
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/magnific-popup.css">
    <link rel="stylesheet" href="static/css/jquery-ui.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/fonts/flaticon/font/flaticon.css">
  
    <link rel="stylesheet" href="static/css/aos.css">
    <link rel="stylesheet" href="static/css/fancybox.min.css">
  
    <link rel="stylesheet" href="static/css/style.css">
    <title>EmoDetect</title>
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="200">


    <div class="site-wrap">
  
      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>
  
      <header class="header-bar d-flex d-lg-block align-items-center site-navbar-target" data-aos="fade-right">
        <div class="site-logo">
          <a href="index.html">EmoDetect</a>
        </div>
  
        <div class="d-inline-block d-lg-none ml-md-0 ml-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle "><span class="icon-menu h3"></span></a></div>
  
        <div class="main-menu">
          <ul class="js-clone-nav">
            <li><a href="#section-home" class="nav-link">Home</a></li>
           <!-- <li><a href="#section-photos" class="nav-link">Photos</a></li> --> 
            <li><a href="#section-about" class="nav-link">About</a></li>
            <!-- <li><a href="#section-testimonial" class="nav-link">Testimonial</a></li> -->
            <li><a href="#section-contact" class="nav-link">Feedback</a></li>
          </ul>
          <ul class="social js-clone-nav">
            <li><a href="#"><span class="icon-instagram"></span></a></li>
            <li><a href="#"><span class="icon-facebook"></span></a></li>
            <li><a href="#"><span class="icon-twitter"></span></a></li>
            <li><a href="#"><span class="icon-linkedin"></span></a></li>
          </ul>
        </div>
      </header> 
      <main class="main-content">
  
        <section class="site-section-hero bg-image mb-5" style="background-image: url('static/images/trees.jpg');"  data-stellar-background-ratio="0.5" id="section-home">
          <div class="row justify-content-center align-items-center">
            <div class="col-md-7 text-center">
              <h1 class=" heading text-uppercase text-white" data-aos="fade-up">EmoDetect</h1>
              <p class="lead text-white mb-4" data-aos="fade-up" data-aos-delay="100">Where emotions are valued</p>
              <p data-aos="fade-up" data-aos-delay="100">
                <a href="/videoFeed" class="btn btn-primary btn-md">Scan your emotion</a>
            </p>
            
            </div>
          </div>
        </section>
  
        <div class="container-fluid site-section">
          </section> <!-- #section-photos -->
  
          <section class="site-section" id="section-about">
            <div class="container">
              <div class="row justify-content-center">
  
                <div class="col-md-8">
  
                  <h2 class="heading">About US</h2>
                  <div data-aos="fade-up"  data-aos-delay="100">
                    <h2 class="">Hi I'm EmoDetect, your emtion Buddy</h2>
                    <h3> Background</h3>
                    <p> The ongoing Human Emotion Detection project aims to increase emotional awareness and well-being for individuals. By accurately identifying emotions, this project aims to empower users to better understand and manage their feelings, aligning with the goal of ensuring good health and well-being (SDG-3). Additionally, the project serves as a resource for families and friends, fostering empathy 
                      and support for their loved ones' emotional struggles, 
                      in line with the objectives of Quality Education (SDG-4).</p>
                    <h3 class=" mt-5">What can I do?</h3>
                    
                    <div class="d-block d-md-flex mt-5">
                      <div class="mr-md-auto mr-2">
                        <ul class="ul-check list-unstyled primary">
                          <li>Detect your emotion</li>
                        </ul>
                      </div>
                      <div class="mr-md-auto">
                        <ul class="ul-check list-unstyled primary">
                          <li>Give you recommendations based on your emotion </li>
                        </ul>
                      </div>
  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
  
          <section class="site-section" id="section-contact">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-8">
                  <h2 class=" mb-5 heading">Feedback</h2>
  
                  <form action="#">
  
  
  
                    <div class="row form-group">
                      <div class="col-md-6 mb-3 mb-md-0">
                        <label class="" for="fname">First Name</label>
                        <input type="text" id="fname" class="form-control">
                      </div>
                      <div class="col-md-6">
                        <label class="" for="lname">Last Name</label>
                        <input type="text" id="lname" class="form-control">
                      </div>
                    </div>
  
                    <div class="row form-group">
  
                      <div class="col-md-12">
                        <label class="" for="email">Email</label> 
                        <input type="email" id="email" class="form-control">
                      </div>
                    </div>
  
                    <div class="row form-group">
  
                      <div class="col-md-12">
                        <label class="" for="subject">Subject</label> 
                        <input type="subject" id="subject" class="form-control">
                      </div>
                    </div>
  
                    <div class="row form-group mb-5">
                      <div class="col-md-12">
                        <label class="" for="message">Message</label> 
                        <textarea name="message" id="message" cols="30" rows="7" class="form-control"></textarea>
                      </div>
                    </div>
  
                    <div class="row form-group">
                      <div class="col-md-12">
                        <input type="submit" value="Submit" class="btn btn-primary btn-md">
                      </div>
                    </div>
  
  
                  </form>
                </div>
              </div>
            </div>
          </section>
  
          <div class="row justify-content-center">
            <div class="col-md-12 text-center py-5">
              <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> Distributed By <a href="https://themewagon.com">ThemeWagon</a><!-- License information: https://untree.co/license/ -->
              </p>
            </div>
          </div>
        </div>
      </main>
  
    </div> <!-- .site-wrap -->
  
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="static/js/jquery.easing.1.3.js"></script>
    <script src="static/js/jquery-ui.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/jquery.stellar.min.js"></script>
    <script src="static/js/jquery.countdown.min.js"></script>
    <script src="static/js/jquery.magnific-popup.min.js"></script>
    <script src="static/js/aos.js"></script>
    <script src="static/js/lozad.min.js"></script>
    
  
    <script src="static/js/jquery.fancybox.min.js"></script>
  
    <script src="static/js/main.js"></script>
  
    <!-- Global site tag (gtag.js) - Google Analytics -->
    </body>
</html>